body{
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: black;
    gap:0;
   
    
    
}

.img{
    display: flex;
    width: 40%;
    height: 100%;
    background: url(./assets/logan-armstrong-hVhfqhDYciU-unsplash.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 200px;

}

.logo{
    margin-top: auto;
    background-color: grey;
    width: 100%;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}

.logo-text{
    color: white;
    font-weight: bolder;
}

.footer{
    margin-top: 300px;
    margin-bottom: 20px;
    font-size: 100%;
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px, -1px 0 #000, -1px, 1px #000, 1px 1px 0 #000;
    
}

.img-info{
    color: white;
    font-weight: bold;
    text-decoration: inherit;
}
a{
    color: white;
    text-decoration: inherit;
}
/* right part*/
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: lightgrey;
    background-size: cover;
    
   
}

.form-info{
    height: 20%;
    width: 100%;
    margin-top: 40px;

}


.text{
    margin-left: 40px;
    margin-right: 20px;
    color: black;
    font-size:larger;
}



.signUpSection{
    
    background-color: white;
    width: 100%;
    height: 40%;
    
    
}

.signUpForm{

    margin-left: 50px;
    margin-top: 50px;
}

.form-inputs{
    
    background-color: white;
    width: 100%;
    height: 35%;
    box-shadow: 2px 5px grey;
   

}

.form-main-div{
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-left: 40px;
}

.form-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

input{
    height: 20px;
    border-radius: 2px;
}



.form-end{
    height:auto;
    box-shadow: 5px grey;
    
}

.btnInfo{
    margin: 40px;
    
}

.btnCreateAccount{
    background-color: grey;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
    
}

.btnCreateAccount:hover{
    background-color: brown;

}

a:hover{
    color:black;
}

.errorMessage{
    color: red;
}